flask
flask-lambda
matplotlib
numpy
pandas
scikit-learn
seaborn
keras
torch
transformers
joblib
jupyter
ipykernel
pyyaml
flask-cors
requests
tqdm
opencv-python
sympy
pillow
plotly
pytorch-lightning
fastai
scikit-imag