flask
flask-lambda
matplotlib
pandas
numpy
seaborn
scikit-learn
scipy
statsmodels
plotly
bokeh
jupyter
openpyxl
xlrd
pillow
sqlalchemy
requests
psycopg2
tensorflow
keras
pytorch
nltk
spacy
plotnine
altair
dash
pyod